//把1~10存入数组，并逆向打印
int main() {
    int i,j,arr[]={1,2,3,4,5,6,7,8,9,10};
    printf("顺向输出：");
    for(i=0;i<=9;i++)
    {
        printf("%3d",arr[i]);
    }
    printf("\n");
    printf("逆向输出：");
    for(j=9;j>=0;j--)
    {
        printf("%3d",arr[j]);
    }

    return 0;
}


//输出斐波那契数列的前20个数
int main() {
    int i;
    int arr[20]={1,1};
    for(i=2;i<20;i++)
    {
        arr[i]=arr[i-1]+arr[i-2];
    }
    for(i=0;i<20;i++)
    {
        printf("%6d",arr[i]);
    }
    return 0;
}


//将二维数组的123456，行和列互换
int main() {
    int i,j,b[3][2],a[2][3]={1,2,3,4,5,6};
    printf("数组a:\n");
    for(i=0;i<=1;i++)
    {
        for(j=0;j<=2;j++)
        {
            printf("%5d",a[i][j]);
            b[j][i]=a[i][j];
        }
        printf("\n");
    }
    printf("数组b:\n");
    for(i=0;i<=2;i++)
    {
        for(j=0;j<=1;j++)
        {
            printf("%5d",b[i][j]);
        }
        printf("\n");
    }

    return 0;
}


//有一个3*4的矩阵，找出最大的数，并输出所在的行和列
int main() {
    int i,j,row=0,colum=0,arr[3][4]={{1,2,3,4},{5,16,7,18},{9,10,11,15}};
    int max=arr[0][0];
    for(i=0;i<3;i++)
    {
        printf("\n");
        for(j=0;j<4;j++)
        {
            if(arr[i][j]>max)
            {
                max = arr[i][j];
                row = i;
                colum = j;
            }
        }
    }
    printf("最大值为：%d,行为%d，列为%d",max,row,colum);

    return 0;
}


//输出一个已知的字符串数组
int main() {
    char c[15]={'I',' ','a','m',' ','s','t','u','d','e','n','t','.'};
    int i;
    for(i=0;i<15;i++)
    {
        printf("%c",c[i]);
    }
    return 0;
}


//定义一个含有30个整数的数组，按顺序从2开始赋予偶数，然后按顺序每5个数求一个平均值放在另一个数组里输出

int main() {
    int i,j,a[30];
    double b[6];
    for(i=0;i<30;i++)
    {
        a[i]=2*(i+1);
    }
    for(i=0;i<6;i++)
    {
        double sum=0;
        for(j=0;j<5;j++)
        {
            sum=sum+a[i*5+j];
            b[i]=sum/5.0;
        }
    }
    for(i=0;i<6;i++)
    {
        printf("%.2lf ",b[i]);
    }
    return 0;
}


//输出一个5*5数组的左下半三角

int main() {
    int i,j,a[5][5];
    int num=1;
    for(i=0;i<5;i++)
    {
        for(j=0;j<5;j++)
        {
            a[i][j]=num++;
        }
    }
    for(i=0;i<5;i++)
    {
        printf("\n");
        for(j=0;j<=i;j++)
        {
           printf("%3d",a[i][j]);
        }
    }
    return 0;
}


//数组a包括10个整数，把a中所有的后项除以前项的商取整后存入b组，输出b

int main() {
    int i,j,a[10]={1,2,3,4,5,6,7,8,9,10},b[9];
    for(i=0;i<9;i++)
    {
        b[i]=a[i+1]/a[i-1];
    }
    for(i=0;i<9;i++)
    {
        printf("%2d",b[i]);
    }

    return 0;
}


//输入两个字符串a和b，把b的前五个字符全部加到a中，不使用strcat（）

int main() {
    char a[100], b[100];
    int i, j;

    printf("输入字符串a: ");
    scanf("%s", a);
    printf("输入字符串b: ");
    scanf("%s", b);

    for (i = 0; a[i] != '\0'; i++);

    for (j = 0; j < 5 && b[j] != '\0'; j++) {
        a[i + j] = b[j];
    }
    
    a[i + j] = '\0';

    printf("结果: %s\n", a);

    return 0;
}



